<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">FileShare</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      @if (!isAuthenticated) {
      <li>
        <a routerLink="/auth/register" *ngIf="!isAuthenticated">Register</a>
      </li>
      <li><a routerLink="/auth" *ngIf="!isAuthenticated">Login</a></li>
      } @if (isAuthenticated) {
      <li><a routerLink="/files/upload">Upload Files</a></li>
      <li><a (click)="onLogout()">Logout</a></li>
      <li>
        <a>{{ user.firstName }} {{ user.lastName }}</a>
      </li>
      }
    </ul>
  </div>
</div>
