<div class="flex max-sm:h-screen">
  <div
    class="p-5 flex items-center bg-white w-full phone:w-10/12 md:w-8/12 m-auto shadow-md flex-col max-sm:h-full"
  >
    <h3>Login to your account</h3>
    <div class="border-b-[1px] border-gray-200 w-full shadow-sm my-2"></div>
    <form class="w-full flex flex-col items-center max-sm:h-full">
      <label class="form-control w-full sm:w-8/12">
        <div class="label">
          <span class="label-text">Email</span>
        </div>
        <input
          type="text"
          placeholder="Type email here"
          class="input input-bordered w-full focus:outline-none h-10"
        />
      </label>
      <label class="form-control w-full sm:w-8/12">
        <div class="label">
          <span class="label-text">Password</span>
        </div>
        <input
          type="password"
          placeholder="Type password here"
          class="input input-bordered w-full focus:outline-none h-10"
        />
      </label>
    </form>
  </div>
</div>
